
@{
    ViewData["Title"] = "AddAutor";
}

<h1>AddAutor</h1>
<form method="post">
    <p>Фамилия автора</p>
    <input maxlength="30" size="40" name="surname"/>
    <input type="submit" value="Add" />
</form>

