
@{
    ViewData["Title"] = "AddAutorForBook";
}

<h1>AddAutorForBook</h1>
<form method="post">
    <p>Id автора</p> <input type="text" name="autor_id"/>
    <p>Id книги</p> <input type="text" name="book_id"/>
    <input type="submit" value="Add" />
</form>
