
@{
    ViewData["Title"] = "Index_Start";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="wwwroot" href="~bootstrap/css/bootstrap.css" />
</head>
<body>
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("Books", "Index", "Book")
                </li>
                <li>
                    @Html.ActionLink("Autors", "Index", "Autor")
                </li>
            </ul>
        </div>
    </div>
    
</body>
</html>


